<div class="card card-body">
    <form action="/news/comment/add" method="post">
        {% csrf_token %}
        <input type="hidden" name="news_slug" value="{{ new.slug }}">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Kulanici Adi" name="username" value="{{ comment_username}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Yorum</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content">{{ comment_content}}</textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Yorum Yap</button>
        </div>
    </form>
</div>